.header--container{
    display: flex;
    justify-content: center;
    box-shadow: 0 0.3vmax #679B9E;
}
.header--content{
    padding: 1.5vmax 0;
    font-size: 2.5vmax;
    font-weight: bold;
    font-family: Roboto;
    color: #57A0A5;
}